.profile__avatar-button {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.profile__avatar-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
