.popup__close-button {
  width: 40.7px;
  height: 40.7px;
  background-image: url(./../../../images/icon_plus.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(45deg);
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
}
