.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 41px;
}

@media screen and (max-width: 1024px) {
  .profile__title {
    font-size: 27px;
    margin-right: 28px;
  }
}
