@import url(./__copyright/footer__copyright.css);


.footer {
  max-width: 882px;
  width: 69%;
  padding: 66px 0 60px;
  margin: 0 auto;
}

@media screen and (max-width: 860px) {
  .footer {
    width: 94%;
    padding: 48px 0 36px;
  }
}
