.card__remove-button {
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/trashcan.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: image;
  cursor: pointer;
  border: none;
  align-self: start;
  justify-self: end;
  padding: 0;
  margin: 18px 15px 0 0;
  z-index: 1;
  visibility: hidden;
}
