@import url(./__logo/header__logo.css);


.header {
  max-width: 882px;
  width: 69%;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 860px) {
  .header {
    width: 100%;
    padding: 28px 0 32px;
  }
}
