@import url(./__input/form__input.css);
@import url(./__input/_mod-error/form__input_mod-error.css);
@import url(./__input-error/form__input-error.css);
@import url(./__label/form__label.css);
@import url(./__submit/form__submit.css);
@import url(./__submit/_active/form__submit_active.css);
@import url(./__submit/_nonactive/form__submit_nonactive.css);
@import url(./__submit-text/form__submit-text.css);
@import url(./__submit-text/_hide/form__submit-text_hide.css);


.form {
  background-color: #fff;
  color: #000;
  min-width: 240px;
  max-width: 430px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}
